<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>102790865080-ifm72qj8vevqj3kn28cmuji1l0893r1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102790865080-ifm72qj8vevqj3kn28cmuji1l0893r1r</string>
	<key>API_KEY</key>
	<string>AIzaSyA_G690hrOHYCJ0OWFQkPUqqlOQxS12R00</string>
	<key>GCM_SENDER_ID</key>
	<string>102790865080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loginteste</string>
	<key>PROJECT_ID</key>
	<string>astute-strategy-213211</string>
	<key>STORAGE_BUCKET</key>
	<string>astute-strategy-213211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102790865080:ios:a3f23e163966597c</string>
	<key>DATABASE_URL</key>
	<string>https://astute-strategy-213211.firebaseio.com</string>
</dict>
</plist>